@model MvcVeevonauts.Models.ItemType

@{
    ViewBag.Title = "Browse";
}

<h2>Browse Items: @Model.Name</h2>
<ul>
    @foreach (var veevonautItem in Model.Items)
    {
        <li>
            @Html.ActionLink(veevonautItem.SubType, "Details", 
            new { id = veevonautItem.ItemID })
        </li>
    }
</ul>