@{
    ViewBag.Title = "About Me";
}

<h2>About Me</h2> 

<p> 
    I'm a recently graduated developer with degrees in Computer Science
    and Mathematics. Veevonauts is my first personal web project. My main
    goal for the project is to strengthen my familiarity with ASP, .NET,
    MVC and C#.
</p>
