@{
    ViewBag.Title = "Veevonauts Home";
}

<h2>Welcome to Veevonauts</h2>

<h3>What is Veevonauts</h3> 

<p>
        Veevonauts is an App that will let users Adopt and train virtual
    creatures. Veevonauts will have attributes (i. e. Strength or Speed) 
    that can be trained via mini games. Friends will be able to pit their 
    Veevonauts against one another in 1 vs 1 matchups.
</p>

<h3>Additional plans for Veevonauts</h3>

<p>
        I hope to implement multiplayer games for up to 10 veevonauts at 
    once. I also hope to implement league competitions where players can
    form fantasy league style teams of veevonauts and macro-manage their
    teams throughout seasons of competition. Game specific skill values 
    would also present some fun possibilities.
        I would also like to implement in-game currency that will allow
    players to purchase and trade veevonaut items. Another interesting
    idea to pursue would be allowing players to create and sell veevonaut
    items to make in-game currency.
</p>
